$primary: #16abf8;
$background: #f4f4f4;
$alert: #ed4c5c;
$grey: #f4f4f4;
$grey-font: #888;

// PRIORITY
$priority-high: #ed4c5c;
$priority-high: #f8a541;
$priority-medium: #00a790;
$priority-low: #428bc1;
$priority-very-low: #8942c1;

$success: #00a790;
